{% extends 'flatpages/index.html' %}

{% block title %}
Создать пост
{% endblock %}

{% block content %}
    <div class="mt-5">
        <h1>Создать пост</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}
            <button type="submit">Сохранить</button>
        </form>
        {% load static %}
        <script src="{% static 'js/ckeditor_config.js' %}"></script>
        <script>
            CKEDITOR.replace('id_content', {customConfig: '{% static 'js/ckeditor_config.js' %}'});
        </script>
    </div>
{% endblock %}
